/*@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');*/

:root {
    --main-color: #2980b9;
    --footer: #6b5303;
    --orange: #f39c12;
    --red: #e74c3c;
    --black: #333;
    --white: #fff;
    --light-color: #666;
    --light-bg: #eee;
    --border: .2rem solid var(--black);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

* {
    font-family: serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: var(--light-bg);
}

body a {
    text-decoration: none;
}

section {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.heading {
    font-size: 5.5rem;
    font-family: serif;
    font-weight: bold;
    font-style: italic;
    color: var(--black);
    margin-bottom: 2rem;
    text-align: center;
    /*text-transform: uppercase;*/
}

.btn,
.delete-btn,
.option-btn {
    display: block;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    margin-top: 1rem;
    border-radius: .5rem;
    padding: 1rem 3rem;
    font-size: 1.85rem;
    text-transform: capitalize;
    color: var(--white);
    cursor: pointer;
    text-align: center;
}

.btn:hover,
.delete-btn:hover,
.option-btn:hover {
    background-color: rgb(31, 231, 31);
}

.btn {
    background-color: #2980b9;
}

.option-btn {
    background-color: #f39c12;
}

.delete-btn {
    background-color: #e74c3c;
}


/*-----THÔNG BÁO--------*/

.error {
    position: sticky;
    top: 0;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #daee25;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    z-index: 1100;
}

.error span {
    font-size: 2.2rem;
    color: var(--black);
}

.error i {
    cursor: pointer;
    color: var(--black);
    font-size: 2.5rem;
}

.empty {
    padding: 1.5rem;
    margin-left: 36.5rem;
    margin-bottom: 7.5rem;
    background-color: white;
    border: var(--border);
    box-shadow: var(--box-shadow);
    text-align: center;
    color: var(--red);
    border-radius: .5rem;
    font-size: 2rem;
    text-transform: capitalize;
}

.disabled {
    pointer-events: none;
    user-select: none;
    opacity: .5;
}


/*------------HEADER-----------------*/

.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(206, 152, 70);
    box-shadow: 0 .5rem 1.5rem rgba(24, 56, 31, 0.719);
    z-index: 1000;
}

.header .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header .flex .logo {
    font-size: 4.5rem;
    font-weight: bold;
    color: rgb(231, 255, 10);
    font-family: serif;
    font-style: italic;
}

.header .flex .logo .img {
    width: 60px;
    height: 60px;
}

.header .flex .logo span {
    color: var(--main-color);
}

.header .flex .nav .nav-item {
    font-family: serif;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    margin-left: 5px;
    font-style: italic;
}

.header .flex .nav .nav-item .dropdown-menu {
    font-size: 20px;
}

.header .flex .nav .nav-item .dropdown-menu .dropdown-item:hover {
    background-color: rgb(226, 195, 55);
    transition: 1s;
}

.header .flex .nav .nav-item .nav-link {
    color: white;
}

.header .flex .nav .nav-item .nav-link:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 3px 0 #00000066, 0 0 2px 0 #0000004d;
    transition: 1s;
}

.header .flex .icons>* {
    margin-left: 1rem;
    font-size: 2.5rem;
    cursor: pointer;
    color: white;
}

.header .flex .icons>*:hover {
    color: black;
}

.header .flex .icons a span {
    font-size: 2rem;
}

.header .flex .profile {
    position: absolute;
    top: 120%;
    right: 2rem;
    background-color: var(--white);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
    padding: 2rem;
    width: 30rem;
    padding-top: 1.2rem;
    display: none;
    animation: fadeIn .2s linear;
}

.header .flex .profile.active {
    display: inline-block;
}

.header .flex .profile p {
    text-align: center;
    color: var(--black);
    font-size: 2rem;
    margin-bottom: 1rem;
}

#menu-btn {
    display: none;
}

.hea {
    background-color: rgb(219, 173, 21);
    height: auto;
}


/*----------------HOME---------------------------*/

.home {
    padding-top: 5px;
    width: auto;
}

.home .carousel .carousel-inner .carousel-item img {
    bottom: auto;
    right: auto;
    /*max-height: 90vh;*/
    height: 560px;
    background-position: center;
    background-size: cover;
}

.home .carousel .carousel-inner .carousel-item .carousel-caption .multilang1 {
    text-align: center;
    font-size: 6rem;
    padding-bottom: 30px;
    color: yellow;
    font-family: serif;
    font-style: italic;
}

.home .carousel .carousel-inner .carousel-item .carousel-caption .multilang2 {
    text-align: center;
    padding-bottom: 150px;
    font-size: 5rem;
    color: yellow
}

.home-products .heading {
    /*margin-top: 2rem;*/
    font-weight: bold;
    font-family: serif;
    font-style: italic;
    margin-bottom: 2rem;
    background: radial-gradient(#cddc39, #fff);
}

.home-products .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 33rem);
    gap: 1.5rem;
    justify-content: center;
    align-items: flex-start;
}

.home-products .box-container .box {
    position: relative;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    border: var(--border);
    padding: 2rem;
    overflow: hidden;
}

.home-products .box-container .box img {
    height: 20rem;
    width: 100%;
    object-fit: contain;
    margin-bottom: 1rem;
}

.home-products .box-container .box .name {
    font-size: 2rem;
    font-weight: bold;
    font-family: serif;
    font-style: italic;
    color: var(--black);
    text-align: center;
}

.home-products .box-container .box .name1 {
    font-size: 2.2rem;
    font-weight: bold;
    font-family: serif;
    font-style: italic;
    color: rgb(201, 114, 15);
    text-align: center;
}

.home-products .box-container .box .flex {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.home-products .box-container .box .flex .qty {
    height: 4.5rem;
    width: 5rem;
    padding: 1rem;
    border: var(--border);
    font-size: 1.8rem;
    color: var(--black);
    border-radius: .5rem;
}

.home-products .box-container .box .flex .price {
    font-size: 2.2rem;
    color: var(--red);
    margin-right: auto;
}

section .category {
    height: 5rem;
}

.category .heading {
    font-family: serif;
    font-style: italic;
    font-weight: bold;
    background: radial-gradient(#cfe030, rgb(255, 255, 255));
}

.category .slide1 {
    height: 21rem;
}

.category .slide {
    height: 18rem;
    margin-bottom: 5rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
    text-align: center;
    padding: 2rem;
    background: var(--white);
    border-radius: .5rem;
    transition: 1.5s;
}

.category .slide:hover {
    border-color: orange;
    transition: 1s;
    box-shadow: var(--box-shadow);
}

.category .slide h3 {
    color: rgb(17, 12, 3);
    font-family: serif;
    font-weight: bold;
    font-style: italic;
    background: radial-gradient(#dfe989, rgb(255, 255, 255));
}

.category .slide:hover h3 {
    color: rgb(201, 114, 15);
    font-family: serif;
    font-weight: bold;
    font-style: italic;
}

.category .slide img {
    height: 11rem;
    width: 100%;
    object-fit: contain;
    margin-bottom: 1rem;
    user-select: none;
}


/*--------------PRODUCTS-----------------------*/

.products .heading {
    background: radial-gradient(#cfe030, rgb(255, 255, 255));
}

.products .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 33rem);
    gap: 1.5rem;
    justify-content: center;
    align-items: flex-start;
}

.products .box-container .box {
    position: relative;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    border: var(--border);
    padding: 2rem;
    overflow: hidden;
}

.products .box-container .box img {
    height: 20rem;
    width: 100%;
    object-fit: contain;
    margin-bottom: 1rem;
}

.products .box-container .box .name {
    font-size: 2rem;
    font-weight: bold;
    font-family: serif;
    font-style: italic;
    color: var(--black);
    text-align: center;
}

.products .box-container .box .name1 {
    font-size: 2.2rem;
    font-weight: bold;
    font-family: serif;
    font-style: italic;
    color: rgb(201, 114, 15);
    text-align: center;
}

.products .box-container .box .flex {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.products .box-container .box .flex .qty {
    height: 4.5rem;
    width: 6rem;
    padding: 1rem;
    border: var(--border);
    font-size: 1.8rem;
    color: var(--black);
    border-radius: .5rem;
}

.products .box-container .box .flex .price {
    font-size: 2.2rem;
    color: var(--red);
    margin-right: auto;
}

.products .box-container .emptyy {
    padding: 1.5rem;
    width: 300px;
    margin-bottom: 7.5rem;
    background-color: white;
    border: var(--border);
    box-shadow: var(--box-shadow);
    text-align: center;
    color: var(--red);
    border-radius: .5rem;
    font-size: 2rem;
    text-transform: capitalize;
}


/*--------ĐĂNG NHẬP-----------*/

.form-container form {
    background-color: var(--white);
    padding: 2rem;
    border-radius: .5rem;
    border: var(--border);
    box-shadow: var(--box-shadow);
    text-align: center;
    margin: 0 auto;
    max-width: 50rem;
}

.form-container .form-input {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.form-container h3 {
    font-size: 30px;
    color: rgb(240, 185, 6)
}

.form-container .form-input input {
    width: 100%;
    height: 45px;
    padding-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    box-sizing: border-box;
    box-shadow: none;
    border: 2px solid #00000020;
    border-radius: 2px;
    outline: none;
    background: transparent;
}

.form-container .form-input span {
    position: absolute;
    top: 10px;
    color: #cc8821;
    width: 100px;
    height: 100px;
}

.form-container .form-input input::placeholder {
    color: black;
    padding-left: 15px;
    font-size: 15px;
}

.form-container .form-input input:focus,
.form-input input:valid {
    border: 2px solid #27ae60;
    font-size: 15px;
}

.form-container .form-input input:focus::placeholder {
    color: #454b69;
}

.form-container .register-link {
    color: #007bff;
    font-weight: bold;
    font-size: 18px;
}

.form-container .forget-link:hover,
.register-link:hover {
    color: #27ae5fd8;
    text-decoration: underline;
}

.form-container .fa {
    padding: 1px;
    margin-top: 1px;
    width: 38px;
    height: 36px;
    text-align: center;
    text-decoration: none;
    margin: 1px 3px;
    border-radius: 50%;
    float: left;
}


/*--------ĐĂNG KÝ-----------*/

.form-group .form-control {
    display: block;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    border-color: #27ae60 !important;
    border-style: solid !important;
    border-width: 0 0 1px 0 !important;
    padding: 5px !important;
    color: #495057;
    height: auto;
    border-radius: 0;
    background-color: #fff;
    background-clip: padding-box;
}


/*-------GIỚI THIỆU-------------*/

.about .content h3 {
    font-family: serif;
    font-weight: bold;
    font-style: italic;
    background: radial-gradient(#cfe030, rgb(255, 255, 255));
    margin-top: 15px;
    text-align: center;
    font-size: 5rem;
    color: var(--black);
}

ol li {
    font-size: 23px;
    margin-left: 3pc;
    text-align: start;
    text-decoration: black;
}

.about .content .btn {
    display: inline-block;
    width: auto;
    margin-left: 55px;
}

.introduce {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.introduce .image {
    flex: 1 1 40rem;
    padding-top: 5rem;
}

.introduce .image img {
    width: 90%;
    margin-left: 25px;
}

.introduce .content {
    text-align: center;
    flex: 1 1 39rem;
}

.introduce .content p {
    text-align: justify;
    font-size: 21px;
    color: black;
}

.introduce .content span {
    font-family: serif;
    font-style: italic;
    font-weight: bold;
    font-size: 3.5rem;
    color: #666;
}


/*-----------------------*/


/* ---------LIÊN HỆ------------*/

.contact form {
    text-align: center;
    padding: 2rem;
    border: .1rem solid rgba(0, 0, 0, .3);
    border: var(--border);
}

.contact .heading {
    color: black;
    background: radial-gradient(#cddc39, #fff);
}

.contact form .inputBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .inputBox input,
.contact form textarea {
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    font-size: 1.7rem;
    background: #f7f7f7;
    text-transform: none;
    margin: 1rem 0;
    border: .1rem solid rgba(0, 0, 0, .3);
    width: 49%;
}

.contact form textarea {
    height: 20rem;
    resize: none;
    width: 100%;
}

.lienhe1 {
    font-size: 20px;
}

.lienhe {
    color: green;
    font-size: 20px;
    text-decoration: underline green;
}

.gopy {
    color: red;
    font-size: 25px;
}

.form {
    border-color: #27ae60;
}

input:focus:invalid {
    box-shadow: 0 0 5px red;
    border-color: red;
}

textarea:focus:invalid {
    box-shadow: 0 0 5px red;
    border-color: red;
}


/* -----------SEARCH-------------*/

.search-form form {
    display: flex;
    gap: 1rem;
}

.search-form form input {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    border: var(--border);
    border-radius: .5rem;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    padding: 1.4rem;
    font-size: 1.8rem;
    color: var(--black);
}

.search-form form button {
    font-size: 2.5rem;
    height: 5.5rem;
    line-height: 5.5rem;
    background-color: var(--main-color);
    cursor: pointer;
    color: var(--white);
    border-radius: .5rem;
    width: 6rem;
    text-align: center;
}

.search-form form button:hover {
    background-color: var(--black);
}


/*-------------------------------------*/

.shopping-cart .fa-edit {
    height: 4.5rem;
    border-radius: .5rem;
    background-color: var(--orange);
    width: 5rem;
    font-size: 2rem;
    color: var(--white);
    cursor: pointer;
}

.shopping-cart .fa-edit:hover {
    background-color: var(--black);
}

.shopping-cart .sub-total {
    margin: 2rem 0;
    font-size: 1.95rem;
    color: black;
}

.shopping-cart .sub-total span {
    color: var(--red);
}

.shopping-cart .box-container .emptyy {
    padding: 1.5rem;
    width: 300px;
    margin-bottom: 7.5rem;
    background-color: white;
    border: var(--border);
    box-shadow: var(--box-shadow);
    text-align: center;
    color: var(--red);
    border-radius: .5rem;
    font-size: 2rem;
    text-transform: capitalize;
}

.cart-total {
    max-width: 50rem;
    margin: 0 auto;
    margin-top: 3rem;
    background-color: var(--white);
    border: var(--border);
    border-radius: .5rem;
    ;
    padding: 2rem;
    text-align: center;
}

.cart-total p {
    font-size: 2.5rem;
    color: var(--black);
    margin-bottom: 2rem;
}

.cart-total p span {
    color: var(--red);
}


/*----------------THANH TOÁN-----------------*/

.display-orders {
    text-align: center;
    padding-bottom: 0;
}

.display-orders p {
    font-family: 'Times New Roman', Times, serif;
    display: inline-block;
    padding: 1rem 2rem;
    margin: 1rem .5rem;
    font-size: 2rem;
    text-align: center;
    border: var(--border);
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
}

.display-orders p span {
    color: var(--red);
}

.display-orders .grand-total {
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    font-size: 2.5rem;
    color: var(--light-color);
}

.display-orders .grand-total span {
    color: var(--red);
}

.checkout-orders form {
    padding: 2rem;
    border: var(--border);
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
}

.checkout-orders form h3 {
    border-radius: .5rem;
    font-family: serif;
    font-weight: bold;
    font-style: italic;
    background: radial-gradient(#d6eb21, rgb(255, 255, 255));
    color: black;
    padding: 1.5rem 1rem;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
}

.checkout-orders form .flex {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: space-between;
}

.checkout-orders form .flex .inputBox {
    width: 49%;
}

.checkout-orders form .flex .inputBox .box {
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    border: var(--border);
    border-radius: .5rem;
    font-size: 1.9rem;
    color: var(--black);
    padding: 1.2rem 1.4rem;
    margin: 1rem 0;
    background-color: var(--light-bg);
}

.checkout-orders form .flex .inputBox span {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    color: black;
}


/*------------ĐẶT HÀNG-----------------------*/

.orders .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: flex-start;
}

.orders .heading {
    background: radial-gradient(#cfe030, rgb(255, 255, 255));
}

.orders .box-container .box {
    padding: 1rem 2rem;
    flex: 1 1 40rem;
    border: var(--border);
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
}

.orders .box-container .box p {
    margin: .5rem 0;
    line-height: 1.8;
    font-size: 2rem;
    color: var(--light-color);
}

.orders .box-container .box p span {
    color: var(--main-color);
}


/*---------------FOOTER--------------------*/

footer {
    margin-top: 50px;
}

.footer {
    background-color: var( --footer);
    padding-top: 1.5rem;
}

.footer .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    gap: 1.2rem;
    align-items: flex-start;
}

.footer .grid .box .img {
    width: 50px;
    height: 50px;
}

.footer .grid .box p {
    font-size: 2rem;
    color: white;
}

.footer .grid .box h3 {
    font-size: 2rem;
    color: rgb(214, 201, 14);
    margin-bottom: 2rem;
    text-transform: capitalize;
}

.footer .grid .box a {
    display: block;
    margin: 1.5rem 0;
    font-size: 1.8rem;
    color: white;
}

.footer .grid .box {
    margin-left: 35px;
}

.footer .grid .box a i {
    padding-right: 1rem;
    color: var(--main-color);
    transition: .2s linear;
}

.footer .grid .box a:hover {
    color: var(--main-color);
}

.footer .grid .box a:hover i {
    padding-right: 2rem;
}

.footer .credit {
    text-align: center;
    padding: 2.5rem 2rem;
    border-top: var(--border);
    font-size: 2rem;
    color: white;
}

.footer .credit span {
    color: white;
}


/*-------------CHỈNH ĐỘ RỘNG CỦA TRANG-------------------*/

@media (max-width:991px) {
    html {
        font-size: 55%;
    }
}

@media (max-width:991px) {
    html {
        font-size: 55%;
    }
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }
    .heading {
        font-size: 3rem;
    }
    .checkout-orders form .flex .inputBox {
        width: 100%;
    }
}


/*---------------------------------------------------------*/